
* {
    margin:0px;
    padding:0px;
}


ul, ol {
    list-style:none;
    z-index: 10;
    align-items: center;
    justify-content: center;
}

.lista > li {
    float:left;
}

.lista li a {
    background-color: orange;
    color:rgba(255, 255, 255, 0.692);
    text-decoration:none;
    padding:10px 12px;
    display:block;
    justify-content: center;
    align-items: center;
    /* border-radius: 5px; */
}

.lista li a:hover {
    color: white;
}

.lista li ul {
    display:none;
    position:absolute;
    width:130px;
    background-color: white;
    color: orange;
    justify-content: center;
    align-items: center;
}

.lista li:hover > ul {
    display:block;
}

.lista li ul li {
    position:relative;
    align-items: center;
    justify-content: center;
}

.lista li ul li ul {
    right:-155px;
    top:0px;
    width: 170px;
    
    
}
/* .lista li ul li .orden {
    right:-130px;
    top:0px;
} */