.forms{
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  border: 2px solid rgb(21, 160, 160);
  background-color: #f7ffa7;
  margin: 2%;
  margin-left: 10%;
  width: 80%;
  /* height: 500px; */
  flex-direction: column;
}

.forms h3{
  margin: 15px;
}

.labelInput{
  margin: 5px;
  display: grid;
  width: 1000px;
  align-items: center;
  justify-content: center;
  grid-template-columns: 50px 395px 395px 80px 80px;
}

.inputId{
  width: 35px;
  height: 25px;
  border-radius: 5px;
  font-size: 15px;
  border: solid 1px;
  font-weight: bold;
}

.inputNombre{
  width: 350px;
  height: 25px;
  border-radius: 5px;
  font-size: 15px;
  border: solid 1px;
  font-weight: bold;
}

.inputPrecio{
  width: 70px;
  height: 25px;
  border-radius: 5px;
  font-size: 15px;
  border: solid 1px;
  font-weight: bold;
}

.titulos{
  margin: 5px;
  display: grid;
  width: 1000px;
  align-items: center;
  justify-content: center;
  grid-template-columns: 50px 395px 395px 80px 80px;
  font-size: 10px;
}




.formsModificar{
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  border: 2px solid rgb(21, 160, 160);
  background-color: #f7ffa7;
  margin: 2%;
  margin-left: 25%;
  width: 50%;
  height: 355px;
  flex-direction: column;
}
.formsModificar label{
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
}
.formsModificar input{
  border-radius: 5px;
  height: 25px;
}
.formsModificar h3{
  margin-top: 25px;
}


.labelInputModificar{
  margin: 20px;
  display: flex;
  width: 300px;
  justify-content: space-between;

}
.labelInputModificar label{
  text-decoration: none;
}





.botones{
  width: 280px;
  justify-content: space-between;
  display: flex;
  margin: 15px;
  
}
.botones button{
  width: 125px;
  height: 32px;
  font-size: 17px;
  font-weight: bold;
  border: solid 2px;
}

.botones button:hover{
  box-shadow: 3px 3px 3px gray;
  height: 34px;
  width: 127px;
}

.botonModificar{
  background-color: rgb(106, 238, 106);
}

.botonBorrar{
  background-color: rgb(247, 82, 82);
}
/* .inputs{
  border-radius: 3px;
  border: 2px solid  rgb(21, 160, 160);
}

label{
  color: rgb(2, 65, 65) ;
  font-weight: bold;
}

.id{
  width: 40%;
  margin-left: 26.6%;
  margin-bottom: 1%;
}
.nombre{
  width: 43%;
  margin-left: 25%;
  margin-bottom: 1%;
}

.description{
  width: 41.5%;
  margin-left: 25.8%;
  margin-bottom: 1%;
}
.price{
  width: 43.5%;
  margin-left: 24.8%;
  margin-bottom: 1%;
}
.stock{
  width: 43%;
  margin-left: 25%;
  margin-bottom: 1%;
}

.id2{
  margin-left: 11%;
}
.nombre2{
  margin-left: 4%;
}

.description2{

  margin-left: 2%;

}
.price2{

  margin-left: 6%;

}

.stock2{

  margin-left: 7.2%;

}

.botoncitos{
  background-color: rgba(3, 139, 139, 0.863);
  color: white;
  width: 15%;
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  font-size: 13px;
  font-weight: bold;
}
.botoncitos2{
  background-color: rgba(3, 139, 139, 0.863);
  color: white;
  width: 15%;
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 15px;
  border-radius: 5px;
  font-size: 13px;
  font-weight: bold;
}
.botoncitos:hover{
  width: 210px;
  height: 50px;
  box-shadow: 3px 3px 3px gray;
  transition: 0.2s;
 }

.botonesFinales{
  text-decoration: none;
  display: flex;
  margin: 20px;
  justify-content: center;
} */
