.todo{
  width: 70%;
  height: 50px;
  border: 1px solid rgba(128, 128, 128, 0.281);
  margin: 7%;
}

.todo:hover{
  box-shadow: 3px 3px 5px gray;
}



/* .producto{
  
  align-items: center;
  justify-content: center;
  background-color: honeydew;
  margin: 2%;
  margin-left: 10%; 
  width: 80%;
  display: grid;
  grid-template-columns: 300px 300px 300px 100px ;
}


.inputBoton{
  display: block;
  justify-content: center;
   
}


.inputBoton h2{
  font-size: 28px;
  margin: 7px;
  margin-left: 40%;
  background-color: rgb(226, 226, 94);
  border-radius: 10px;
  width: 20%;
  height: 46px;
}

.producto h1 {
  margin: 16px;
  margin-top: -15px;
}

.productos input{
  width: 50px;
}



.botoncitos{
  background-color: rgba(3, 139, 139, 0.863);
  color: white;
  width: 200px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  font-size: 20px;
  font-weight: bold;
}
.botoncitos:hover{
  width: 210px;
  height: 50px;
  box-shadow: 3px 3px 3px gray;
  transition: 0.2s;
}

.botonesFinales{
  text-decoration: none;
  display: flex;
  margin: 15px;
  justify-content: center;
}

.tuOrden{
  background-color: rgb(28, 207, 207);
  width: 191px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  margin-left: 44%;
  margin-bottom: -7px;
  margin-top: 20px;
} */