.producto{
  /* display: flex; */
  align-items: center;
  justify-content: center;
  background-color: rgb(155, 200, 230);
  margin: 4%;

}
.productoGrande{
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  border: 2px solid rgb(21, 160, 160);
  background-color: rgb(155, 200, 230);
  margin: 2%;
  margin-left: 25%;
  width: 50%;
  height: 400px;
}

label{
  text-align: start;
  text-decoration: underline;
}

.nombre{
  width: 45%;
  margin-left: 25%;
  margin-bottom: 2%;
}

.email{
  width: 42%;
  margin-left: 26.5%;
  margin-bottom: 2%;
}
.password{
  width: 46%;
  margin-left: 24.5%;
  margin-bottom: 2%;
}
.nombre2{
  margin-left: 4%;

}

.email2{

  margin-left: 11%;

}
.password2{

  margin-left: 3%;

}



.botonBorrar{
  display:flex;
  width: 40px;
  padding-top: 100px;
  padding-left: 55px;
  
}


.botoncitos{
  background-color: rgba(3, 139, 139, 0.863);
  color: white;
  width: 15%;
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  font-size: 13px;
  font-weight: bold;
}
.botoncitos2{
  background-color: rgba(3, 139, 139, 0.863);
  color: white;
  width: 15%;
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 15px;
  border-radius: 5px;
  font-size: 13px;
  font-weight: bold;
}
.botoncitos:hover{
  width: 210px;
  height: 50px;
  box-shadow: 3px 3px 3px gray;
  transition: 0.2s;
 }

.botonesFinales{
  text-decoration: none;
  display: flex;
  margin: 20px;
  justify-content: center;
}

.bienvenido{
  background-color: rgb(28, 207, 207);
  border: 2px solid rgb(21, 160, 160);
  border-radius: 10px;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  margin-top: 2%;
  margin-bottom: 2%;
  margin-left: 27%;
}