.producto{
    /* display: flex; */
    align-items: center;
    justify-content: center;
    background-color: honeydew;
    margin-top: 2%;
    margin-bottom: 2%;
    width: 1000px;
    margin-left: 20%; 
    display: grid;
    grid-template-columns: 300px 300px 300px 100px ;
}

.img{
    width: 150px;
    height: 150px;
}

.inputBoton{
    display: block;
    /* width: 149px; */
    justify-content: center;
     
}

.Cambio {
  width: 10%;
  border-radius: 5px;
  margin-left: 23%;
}

.inputBoton h3{
    font-size: 15px;
    margin-top: -17px;
    color: gray;
}

.inputBoton h4{
    font-size: 20px;
    color: gray;
}

.inputBoton h5{
    font-size: 28px;
    margin: 7px;
    background-color: rgb(226, 226, 94);
    border-radius: 10px;
    height: 46px;
}

.producto h1 {
    margin: 16px;
    margin-top: -15px;
}

.productos input{
    width: 50px;
}

.botonBorrar{
    display:flex;
    width: 40px;
    padding-top: 100px;
    padding-left: 55px;
    
}

.basura{
    width: 30px;
    height: 30px;
}
.basura:hover{
    background-color: rgba(255, 0, 0, 0.534);
    height: 33px;
    width: 33px;
}

.botoncitos{
    background-color: rgba(3, 139, 139, 0.863);
    color: white;
    width: 200px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
}
.botoncitos:hover{
    width: 210px;
    height: 50px;
    box-shadow: 3px 3px 3px gray;
    transition: 0.2s;
}

.botonVaciarCart{
    background-color: rgba(209, 10, 10, 0.877);
    color: white;
    width: 200px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    margin: 15px
}

.botonVaciarCart:hover{
    width: 210px;
    height: 50px;
    box-shadow: 3px 3px 3px gray;
    transition: 0.2s;

}

.botonesFinales{
    text-decoration: none;
    display: flex;
    margin: 15px;
    justify-content: center;
}

.tusProductos{
    background-color: rgb(28, 207, 207);
    width: 191px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    margin-left: 42%;
    margin-bottom: -7px;
    margin-top: 20px;
}