.product {
    display: flex;
    background-color: white;
    border-radius: 15px;
    margin: 10% auto;
    width: 1300px;
    height: 10%;
    text-decoration: none;
    /* z-index: 0; */
    /* overflow: hidden; */
    justify-content: center;
    /* padding-top: 50px; */
}


.productCard h3 {
    margin: -10px;
}



.productCard h1 {
    font-size: 50px;
}



.goArrow {
    margin-top: 4px;
    margin-right: 15px;
    color: white;
    font-family: courier, sans;
    font-size: xxx-large;
}
  

.productCard a {
    text-decoration: none;
    height: 280px;
}

.productCard ul {
    margin: 0px;
    border: opx;
    padding: 0px;
}

.productCard li {
    list-style: none;
}

.containerLyrics {
    
    
    padding-top: 15px;
    justify-content: center;
}

.img {
    height: 400px;
    width: 400px;
    border: 1px solid grey;
    margin-top: 20px;
    border-radius: 30px 30px 30px 30px;
}

.boton{
  height: 50px;
  border-radius: 5px;
  width: 90px;
  background-color: #00838d;
  color: white;
}