.imagen{
    width: 500px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 1px;
    margin-left: 7%;
    margin-right: 5%;
    
}

.changuito{
    width: 30px;
    height: 30px;
}
.contenedor{
    display: flex;
    margin-top: 13%;
    margin-bottom: 5%;
}
.contador h6{
    display: flex;
    justify-content: end;
}

.divDerecha{
    display: flex;
    flex-direction: column;
    height: 500px;
    
}

.divDerecha h1{
    font-family: system-ui;
}

.nombreYprecio{
    align-items: end;
    display: flex;
    flex-direction: column;
}
.boton{
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.description{
    display: flex;
    flex-direction: column;
    align-items: end;
    margin-left: 7%;
}
