.box{
    margin-left: 70px;
    display: flex;
    justify-content:  flex-start;
}

.titulo{
    background-color: rgb(252, 225, 118);
    height: 40px;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    margin-top: 25px;
    border: gray;
    box-shadow: 3px 3px 3px gray;
}

.reviews hr{
    width: 900px;
    height: 2px;
    color: gray;
}
.subtitulo{
    margin-top: 25px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    font-size: 20px;
    color: rgb(107, 107, 107);
}
.opiniones{
    margin-top: 25px;
    display: block;
    font-size: 20px;
    color: rgb(107, 107, 107);
}
.opinionsTitle{
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: 20px;
  font-weight: bold;

}
.opinionsDescription{
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: 20px;
}
.opinionsDate{
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: 15px;
}
.reviews p{
    margin-top: 15px;
    margin-left: 5px;
    font-size: 20px;
    color: rgb(107, 107, 107);
}
.numPromedio{

  color: darkcyan;
  font-size: 100px
}
.title{
  color: grey;
  font-size: 70px
}
.description{
  color: grey;
  font-size: 50px
}
.logo{
  width: 200px;
  height: 60px;
}
.logochico{
  width: 100px;
  height: 30px;
  margin-top: 25px;
}
table{
    table-layout: fixed;
    width: 900px;
}
input[type="radio"] {
  display: none;
}
.inputt[type="text"] {
  width: 300px;
  height: 100px;
  color: grey;
}
.estrellas {
  color: grey;
  font-size: 50px;
}
.estrellasnaranja{
  color: orange;
  font-size: 30px;
}

.estrellas:hover,
.estrellas:hover ~ label {
  color: orange;
}
.cajon1{
  width: 225px;
float:left;
}
.cajon2{
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  width: 200px;
  height: 200px;
  float:left;
  font-size: 10px;
  color: darkcyan;
}

input[type="radio"]:checked ~ label {
  color: orange;
}
form{
  color: blue ;
}
.botton{
  height: 50px;
  border-radius: 5px;
  width: 60px;
  background-color: darkcyan;
  color: white;
}
.boton:hover{
    background-color: rgb(35, 180, 185);
    box-shadow: 3px 3px 3px rgb(97, 97, 97);
}
