.opinion{
  margin-left: 7%;
}


 .box{
    margin-left: 70px;
    display: flex;
    justify-content:  flex-start;
}

.opinionsTitle{
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: 20px;
  font-weight: bold;

}
.opinionsDescription{
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: 20px;
}
.opinionsDate{
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: 15px;
}
.reviews p{
    margin-top: 15px;
    margin-left: 5px;
    font-size: 20px;
    color: rgb(107, 107, 107);
}
.numPromedio{

  color: darkcyan;
  font-size: 100px
}
.title{
  color: grey;
  font-size: 70px
}
.description{
  color: grey;
  font-size: 50px
}
.logo{
  width: 200px;
  height: 60px;
}
.logochico{
  width: 100px;
  height: 30px;
  margin-top: 25px;
}
input[type="radio"] {
  display: none;
}
.inputt {
  width: 300px;
  height: 80px;
  color: grey;
}
.estrellas {
  color: grey;
  font-size: 30px;
}
.estrellasnaranja{
  color: orange;
  font-size: 30px;
  }

.estrellas:hover,
.estrellas:hover ~ label {
  color: orange;
}

.cajon1{
  width: 250px;
float:left;
}
.cajon2{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 250px;
  font-size: 15px;
  color: gray;
}

input[type="radio"]:checked ~ label {
  color: orange;
}
.bottton{
  height: 50px;
  border-radius: 5px;
  width: 100px;
  background-color: darkcyan;
  color: white;
}
.boton:hover{
    background-color: rgb(35, 180, 185);
    box-shadow: 3px 3px 3px rgb(97, 97, 97);
} 
