.App{
  text-align: center;
  height: 100%;
  background-color: rgb(172, 196, 202);
}

.App li{
  list-style: none;
}

.liProducts{
  width: max-content;
  display: inline-block;
  padding-bottom: 15px;
}

.App li a {
  margin-top: 25px;
  border-radius: 5px;
  border: 1px solid #2f6b68;
  background-color: rgb(226, 219, 219);
  color: #2f6b68;
  text-decoration: none;
}

.searchBar{

  height: 150px;
  background-color: #2f6b68;
}
/* 
.product {
  border: none;
}

.searchBar form{
  display: inline-block;
  text-align: center;
  width: 40%;
} */

.productoSolo,
.pedigree{
  height: 520px;
  background-color: rgb(172, 196, 202);
}

.product{
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  flex-direction: column;
  margin: 0 auto;
  width: 300px;;
}

