.card{
  background-color: white;
  border: 1px solid gray;
  border-radius: 15px;
  display: inline-block;
  text-align: center;
  margin-top: 25px ;
  width: 18rem;
  margin-right: 10px;
  ;
}
.card:hover{
  box-shadow: 2px 2px 5px rgb(22, 22, 22);
}

.card figure{
  display: inline-block;
}

.card-title{
  font-size: 20px;
  color: rgb(121, 113, 113);
  border-top: 1px solid gray;
  padding-top: 20px;
}

.card-text{
  color: gray;
  padding-right: 50px;
}

.card-img-top{
  border-radius: 30%;
  display: inline-block;
  text-align: center;
  width: 200px;
  height: 200px;
} 

